
:root {
  /* colors */
  --light-blue: #2e1c97b3;
  --light-blue-hover: #2e1c97;
  --light-grey: rgb(236, 237, 238);
  --white: #fff;

  --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --border-radius: .4rem;
  --font-times: "Times New Roman", sans-serif, Arial, Helvetica;
}

.container {
  width: 93%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home-main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 3rem;
}
.home-hero{
  padding: 2rem 3rem;
  background-color: var(--light-grey);
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  min-height: 400px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.home-hero_image{
  flex: 10.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 500px;
  object-fit: contain;
  transform: rotateY(180deg);
  margin-bottom: -100px;
}

.home-hero_title{
  font-size: 3rem;
  font-weight: 600;
  color: var(--light-blue);
  text-align: center;
  flex: 0.3;
  white-space: nowrap;
}

.home-hero .details{
  text-align: center;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  flex: 0.3;
}

.home-hero .details>*{
  margin: 12px 0;
}

.btn{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover{
  background-color: var(--light-blue-hover);
}

h3 {
  padding-block: 1rem
}

.cards-container {
  width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.card{
  border-radius: 0.2rem;
  /* width: fit-content; */
  flex: 1;
  min-width: 290px;
  max-width: 400px;
  position: relative;
  height:400px
}

.card img{
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  height:100%;
}

.card-content {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 15px;
  font-size: .8rem;
}

.card-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.new {
  padding: .1rem .5rem;
  border-radius: 5rem;
  background-color: var(--white);
  width: fit-content;

}

.showcase {
  display: flex;
  position: relative;
  background-color: var(--light-grey);
  margin-block: 1rem;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}

.showcase div {
  width: 50%;
  margin: 2rem 0rem 0rem 4rem;
}

.showcase img {
  width: 50%;
}

.showcase div h2 {
  font-family: var(--font-times) !important;
  position: absolute;
  font-size: 4rem;
  width: 700px;
  font-weight: 400;
}

.showcase div p {
  font-family: var(--font-times) !important;
  margin-top: 200px;
}

.text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--light-blue);
  height: 250px;
}

.CTA-section {
  display: flex;
  margin-block: 1rem;
}

.CTA-section img {
  flex: 1;
}

.CTA-section>.CTA-right {
  background-image: url(./assets/shoe2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 2;
  display: flex;
  align-items: flex-end;
}

.CTA-section>.CTA-right>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem
}

.CTA-section>div>div>p {
  width: 50%;
  font-size: 14px;
}

.card-model-000{
  flex: 1;
  min-width: 180px;
  max-width: 230px;
  height:250px
}

.book-section {
  display: flex;
  margin-block: 3rem;
}

.book-section img{
  width: 40%;
}

.book-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
  padding-inline: 2rem;
  align-items: flex-start;
}

.book-intro p {
  width: 75%;
}