@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
:root {
  /* colors */
  --light-blue: #FF4D30;
  --light-blue-hover: #FA4226;
  --light-grey: rgb(236, 237, 238);
  --dark-grey: #2D2D2D;
  --white: #fff;
  --black: #000;
  --grey: #3b3939;

  --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --border-radius: .4rem;

  /* Fonts */
  --font-times: "Times New Roman", sans-serif, Arial, Helvetica;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-caveat: 'Caveat', cursive;
}

.container {
  width: 93%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Hero section design */
.home-main{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 3rem;
}
.home-hero{
  padding: 2rem 3rem;
  background-color: var(--light-grey);
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  min-height: 400px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.home-hero_image{
  flex: 10.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 500px;
  object-fit: contain;
  transform: rotateY(180deg);
  margin-bottom: -100px;
}

.home-hero_title{
  font-size: 3.5rem;
  font-weight: 700;
  /* color: var(--light-blue); */
  text-align: center;
  flex: 0.3;
  white-space: nowrap;
  font-family: var(--font-caveat);
}

.home-hero .details{
  text-align: center;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  flex: 0.3;
}

.home-hero .details>*{
  font-family: var(--font-caveat);
  margin: 12px 0;
}

.btn:hover{
  background-color: var(--light-blue-hover);
}

h3 {
  padding-block: 1rem
}

/* product display design */
.cards-container {
  width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.card{
  border-radius: 0.2rem;
  /* width: fit-content; */
  flex: 1;
  min-width: 290px;
  max-width: 400px;
  position: relative;
  height:400px
}

.card img{
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  height:100%;
}

.card-content {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 15px;
  font-size: .8rem;
}

.card-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.new {
  padding: .1rem .5rem;
  border-radius: 5rem;
  background-color: var(--white);
  width: fit-content;

}

/* Showcase section design */
.showcase {
  display: flex;
  background-color: var(--light-grey);
  margin-block: 1rem;
  width: 100%;
  /* height: fit-content; */
  flex-wrap: wrap;
  padding: 2rem;
}

.showcase-content {
  flex: 2;
  min-width: 300px;
}

.showcase-img {
  background-image: url(./assets/manseat.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  min-width: 300px;
  height: 400px;
}

.showcase div h2 {
  font-family: var(--font-montserrat);
  font-size: clamp(1.6rem, 4vw, 3.3rem);
  font-weight: 600;
}

.showcase div p {
  font-family: var(--font-montserrat);
  margin-top: 50px;
}

.text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dark-grey);
  height: 250px;
  color: var(--white)
}


/* Call to action section design */
.showcase2 {
  padding: 0
}

.model1 {
  min-height: 500px;
  background-image: url(./assets/model1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1.1;
  min-width: 300px;
}

.showcase2-content {
  background-color: #F5F5F5;
  background-image: url(./assets/7.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% -60px;
  flex: 2;
  display: flex;
  align-items: flex-end;
  min-width: 400px
}

.showcase2>.showcase2-content>div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  padding-top: 200px;
}

.showcase2>div>div>p {
  width: 70%;
  font-size: 14px;
}

.card-model-000{
  flex: 1;
  min-width: 180px;
  max-width: 230px;
  height:250px
}

/* Book advert section */
.showcase3 {
  display: flex;
  margin-block: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.showcase3 img{
  flex: 1;
  min-width: 300px;
}

.showcase3-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 2;
  padding: .5rem;
  align-items: flex-start;
  min-width: 300px;
  margin-top: 0px !important;
}

.showcase3-content p {
  width: 80%;
}

/* footer section design */

footer {
  background-color:var(--dark-grey);
  padding-block: 3rem;
  color: var(--white);
}
.footer-nav-section {
  display: flex;
  padding: 0rem 2rem 3rem 2rem;
  flex-wrap: wrap;
}

.footer-nav-section div {
  min-width: 250px;
  margin-inline: 5px
}

.footer-nav-title {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-nav li a {
  color: var(--white);
}

.footer-nav li a:hover {
  color: var(--black);
}

.copyright-section {
  width: 100%;
  display: flex;
  justify-content: center;
}