@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Caveat', cursive;
  text-decoration: none;
  list-style: none;
}

:root {
    /* colors */
    --light-blue: #2e1c97b3;
    --light-blue-hover: #2e1c97;
    --light-grey: rgb(236, 237, 238);
    --white: #fff;
  
    --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: var(--shadow)
}
nav .logo{
    color: var(--white);
    background-color: rgba(255, 34, 255, 0.701);
    text-decoration: none;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 50%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

nav ul li{
    list-style: none;
    margin-left: 2rem;
}

nav li:last-child{
    margin-right: -2rem;
}

nav li:not(:last-child){
    margin-right: 2rem;
    cursor: pointer;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    justify-self: flex-end;
    position: relative;
}                                                                             

.dropdown{
    position: absolute;
    background-color: var(--white);
    border-radius: 0.4rem;
    top: 2.2rem;
    padding: 1rem;
    box-shadow: var(--shadow);
    display: none;
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
}

nav button{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

nav button:hover{
    transform: scale(1.06);
    opacity: 1;
    background-color: var(--light-blue);
}

.user{
    cursor: pointer;
}