@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --light-blue: #FF4D30;
    --light-blue-hover: #FA4226;
    --light-grey: #f4f4f4;
    --white: #fff;
    --black: #000;
    --grey: #232f3e;
    --darkgreen: #00453e;
    --green-hover: #1c6159;
    --lightgreen: #a5e3b9;

  
    --shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    --font-montserrat: 'Montserrat', sans-serif;
    --font-caveat: 'Caveat', cursive;
    --black: #000;

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-montserrat);
  text-decoration: none;
  list-style: none;
  outline: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: var(--light-grey);
    box-shadow: var(--shadow)
}
.navbar .logo{
    width: 70px;
    height: fit-content;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: .45;
}


.navbar .useracc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* justify-self: flex-end; */
    position: relative;
    font-size: .8rem;
}

.navLink-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1rem;
}

.dropdown{
    position: absolute;
    background-color: var(--white);
    border-radius: 0.4rem;
    top: 1.5rem;
    padding: 1rem;
    box-shadow: var(--shadow);
    display: none;
}

.navbar a{
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 600;
}

.loginlogout{
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.navbar button:hover{
    transform: scale(1.06);
    opacity: 1;
}

.user{
    cursor: pointer;
}

.btn{
    background-color: var(--light-blue);
    border-radius: 100vh;
    box-shadow: 0 0px 9px 0 rgba(255,83,48,.35);
    color: var(--white);
    padding: .7rem 1.6rem;
    transition: all .3s;
    font-size: 1rem;
    font-family: var(--font-montserrat);
    border: none;
  }

  /* mobile nav */
.mobile-nav{
    display: none;
    width: 50%;
    margin-inline-start: 100%;
    background-color: var(--dark-grey);
    align-items: center;
    position: absolute;
    top: 10%;
    right: 0;
}

.menu-btn{
    display: none;
    padding: .3rem;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 3.5rem;
    background-color: var(--white);
    gap: .4rem;
    z-index: 99999;
}
.menu-btn>*{
    width: 90%;
    height: .2rem;
    background-color: var(--dark-grey);
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    transform-origin: 1px;
}

.menu{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3rem;
    width: 100%;
    z-index: 43433;
    padding-block: 2rem
}

.menu ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.menu li{
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* border-bottom: 1px solid var(--light-navy); */
    width: 100%;
    font-family: 'grandslang-roman';    
    padding-block: .6rem;
}

.menu li a {
    color: var(--white);
}


/* footer section design */

footer {
    background-color:var(--dark-grey);
    padding-block: 3rem;
    color: var(--white);
  }
  .footer-nav-section {
    display: flex;
    padding: 0rem 2rem 3rem 2rem;
    flex-wrap: wrap;
  }
  
  .footer-nav-section div {
    min-width: 250px;
    margin-inline: 5px
  }
  
  .footer-nav-title {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer-nav li a {
    color: var(--white);
  }
  
  .footer-nav li a:hover {
    color: rgb(214, 214, 218)
  }

  footer .lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    text-align: right;
    padding: .3rem 1.2rem;
    width: 50%;
    border-radius: 6rem .6rem .6rem 0rem;
}

footer .lang a {
    font-size: .8rem;
    color: var(--dark-grey);
    display: flex;
    gap: .4rem;
    margin-inline: 1rem;
}

footer .lang a svg {
    fill: var(--black);
}

.nav-info {
    display: flex;
    background-color: var(--white);
    width: 98%;
    margin: auto;
    border-radius: .2rem;
}
.nav-info-empty {
    width: 50%;
}

footer select {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: .1rem .9rem;
    color: var(--black);
    font-size: .7rem;
}
  
  .copyright-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 548px){
    .navbar {
        padding-inline: .4rem
    }
    .desktop-nav {
        display: none;
    }
    .menu-btn{
        display: flex;
    }
} 